target/test-classes/main.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <http:listener-config name="main-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="main-config" raml="main.raml" consoleEnabled="true" consolePath="console" doc:name="Router"/>
    <db:mysql-config name="MySQL_Configuration" host="172.17.0.2" port="3306" user="root" password="sciensa" database="zendron" doc:name="MySQL Configuration"/>
    <flow name="main-main">
        <http:listener config-ref="main-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="main-config" doc:name="APIkit Router"/>
        <exception-strategy ref="main-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="delete:/species/{speciesID}:main-config">
        <set-payload value="{&#xA;  &quot;message&quot;: &quot;The specie was successuflly deleted&quot;&#xA;}" doc:name="Set Payload"/>
        <db:delete config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[delete from Species where specie_id = #[payload.speciesID]]]></db:parameterized-query>
        </db:delete>
    </flow>
    <flow name="get:/species:main-config">
        <set-payload value="[&#xA;  {&#xA;    &quot;specie_id&quot;: &quot;0000002&quot;,&#xA;    &quot;name&quot;: &quot;Rosa&quot;,&#xA;    &quot;category_id&quot;: &quot;2&quot;,&#xA;    &quot;created_at&quot;: &quot;2016-11-20 00:00:00&quot;&#xA;  },{&#xA;    &quot;specie_id&quot;: &quot;0000003&quot;,&#xA;    &quot;name&quot;: &quot;Lenti&quot;,&#xA;    &quot;category_id&quot;: &quot;2&quot;,&#xA;    &quot;created_at&quot;: &quot;2016-11-20 00:00:00&quot;&#xA;  }&#xA;]" doc:name="Set Payload"/>
        <db:select config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[select specie_id, name, category_id, created_at from Species order by name]]></db:parameterized-query>
        </db:select>
    </flow>
    <flow name="get:/species/{speciesID}:main-config">
        <set-payload value="{&#xA;  &quot;specie_id&quot;: &quot;0000003&quot;,&#xA;  &quot;name&quot;: &quot;Lenti&quot;,&#xA;  &quot;category_id&quot;: &quot;2&quot;,&#xA;  &quot;created_at&quot;: &quot;2016-11-20 00:00:00&quot;&#xA;}" doc:name="Set Payload"/>
        <db:select config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[select specie_id, name, category_id, created_at from Species where specie_id = #[payload.speciesID]]]></db:parameterized-query>
        </db:select>
    </flow>
    <flow name="post:/species:main-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload" mimeType="application/json"/>
        <json:validate-schema schemaLocation="specie.schema" doc:name="Validate JSON Schema"/>
        <db:insert config-ref="MySQL_Configuration" doc:name="Database">
            <db:parameterized-query><![CDATA[INSERT INTO Species (name, category_id, created_at) VALUES (:name, :category_id, NOW());]]></db:parameterized-query>
        </db:insert>
    </flow>
    <apikit:mapping-exception-strategy name="main-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
